.ProseMirror .Math {
  display: contents;
}

.ProseMirror .Math .katex-editor {
  display: inline;
}

.ProseMirror .math .katex-render .katex {
  font-size: 18px;
}

.ProseMirror .math .katex-render .katex-error {
  font-family: "KaTeX_SansSerif", sans-serif;
  padding: 0;
}

.ProseMirror .math .decoration-inline-math {
  color: #52D273;
}

.math .hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.math .active {
  position: static;

  width: auto;
  height: auto;
  margin: 0;

  clip: auto;
  overflow: visible;
}
