@font-face {
  font-family: 'WebFont';
  font-style: normal;
  font-weight: normal;
  src: local('Webfont'), url('../assets/fonts/WebFont.woff2') format('woff2');
}

body {
  background-color: #3f4040;
  font-family: 'WebFont', sans-serif;
}

.q-input input {
  text-align: center;
  font-size: 16px;
  color: #e8e6e3;
}

.dialog {
  text-align: center;
  background-color: $dark;
  color: $positive;
}

::-webkit-scrollbar {
  background: #3f4040;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #333333;
  background-clip: padding-box;
  border-radius: 20px;

  &:active {
    background-color: #416C4C;
  }
}
